.auth_form{
  margin-left: 35%;
    margin-right: 35%;
    background: #80808024;

}

#login{
  margin-bottom: 0;
  background: #80808024;
  cursor: pointer;
}

#register{
  margin-bottom: 0;
  cursor: pointer;
}

.list-group-item:hover{
  cursor: pointer;
}
